*.iml
.gradle
.idea
settings.gradle
local.properties
gradle.properties
/app/build
/app/src/androidTest
/app/src/test
/dynamicalFlowView/.gitignore
/dynamicalFlowView/src/androidTest
/dynamicalFlowView/src/test
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
